neovim/.config/nvim/plugged
neovim/.config/nvim/undo
neovim/.config/nvim/.netrwhist
mpdcron/.mpdcron/mpdcron.pid
mpd/.config/mpd/mpd.log
mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
mpd/.config/mpd/tag_cache
mpd/.config/mpd/playlists
ncmpcpp/.config/ncmpcpp/error.log
.stowrc
vdirsyncer/.config/vdirsyncer/status/*
khal/.config/khal/khal.db
