$include /etc/inputrc

$if mode=vi
    set keymap vi-command
    "k": history-search-backward
    "j": history-search-forward
    ".": insert-last-argument
$endif

"C-f":  unix-filename-rubout ## Delete backwards to slash

set keymap vi-insert

"\C-l": clear-screen

set mark-symlinked-directories on ## For bash-complete to append trailing slash on symlink dirs
